/* #region General rules */

img {
    max-width: 100%;
}

:root {

--bg-dark: #000000;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.bg_dark {
    background-color: var(--bg-dark);
}
/* #endregion General rules */

/* #region Debug */

.debug .header-bottom {
    background-color: #727272;
    height: 100px;
}


.debug .jumbotron,
.debug .banner {
    height: 150px;
    background-color: #0070D1;
}

.debug .col {
    height: 100px;
    border: 1px solid;
}

.debug .playstation_v,
.debug .playstation_iv,
.debug .social {
    background-color: #00439C;
}

.debug .playstation_plus,
.debug .playstation_now {
    background-color: #727272;
}


/* #endregion Debug */


/* #region header */

.header-top img {
    width: 100px;
    padding: 1rem;
}

.search {
    width: 30px;
}

/* #endregion header */

/* #region games */

.games img:hover {
    cursor: pointer;
}

/* #region playstation_five */

.playstation_five p{
    color: #797979;
}

.playstation_five span{
    color: blue;
}

/* #endregion playstation_five */